.filtrosRazas{
    display: flex;
    margin-top: 25px;
}

.contentContainer{
    width: 85%;
    display: flex;
    flex-direction: column;
}

div .titleContainer{
    margin-top: 0;
}

.contenedorTitulo{
    margin-top: 0;
    height: auto;
}

.contenedorCards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item-list{
    width: 15%;
    height: auto; 
    background-color: #fcc106;
    border: solid 2px #fcc106;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.liRazas{
    list-style: none;
    margin: 15px 0 5px 15px;
}

.span{
    margin-left: 10px;
    color: #540F17;
}

@media only screen and (min-width:320px) and (max-width:905px){
    .filtrosRazas{
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    
    .item-list{
        width: 100%;
        height: auto;
        background-color: #fcc106;
        border: solid 2px #fcc106;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .contentContainer{
        width: 100%;
        height: auto;
        margin-top: 35px;
    }
}

@media only screen and (min-width:906px) and (max-width: 1024px){
    .filtrosRazas{
        display: flex;
        margin-top: 0;
    }
    
    .item-list{
        width: 30%;
        height: auto;
        background-color: #fcc106;
        border: solid 2px #fcc106;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: flex;
        flex-direction: column;
    }

    .contentContainer{
        width: 70%;
        height: auto;
        margin-top: 35px;
    }

    .liRazas{
        list-style: none;
        margin: 10px;
        height: 10px;
    }
}