.titleContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 65px 0 65px 0;
}

.titleImage{
    width: 2%;
    height: 2%;
}

.welcomeMessage{
    margin: 0 10px;
} 