nav .navbarContainer{
    height: 80px;
    display: flex;
}

div .contenedorLogo{
    margin: 0;
    display: flex;
}

h2{
    text-align: center;
    margin-left: 15px;
}

.contenedorCategorias{
    margin: 0;
    display: flex;
    justify-content: right !important;
}

.ulNav{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.liNav{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    margin: 0 10px;
    color: white;
}

.anchorNav{
    text-decoration: none !important;
    width: auto;
    height: 100%;
    color: white !important;
}

.anchorNav:hover{
    color: black !important;
}